.header {
 display: flex;
 justify-content: space-between;
}

.header-left {

}

.header-mid {
    display: flex;
    flex-direction: row;
}

.header-right {
    display: flex;
    flex-direction: row;
}