/* ===== Container utama ===== */
.highlight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* background-color: red; */
}

.header-divider {
  margin-bottom: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
}

/* ===== Bagian Kiri ===== */
.highlight-left {
}

.highlight-left-wrapper {
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

.highlight-divider {
  border: 0.5px solid rgba(255, 255, 255, 0.6);
}

.highlight-left-title {
  color: white;
  font-size: 24px;
}

.highlight-left-card {
  margin-bottom: 20px;
}

.highlight-left-card-title {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.highlight-left-card-desc {
  color: rgb(179, 178, 178);
  line-height: 2;
}

.highlight-left-card-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.highlight-left-card-button {
  width: 100%;
  padding: 12px 16px;
  background-color: #4b0082;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
}

/* ===== Bagian Tengah ===== */
.highlight-mid {
  display: flex;
  flex-direction: column;
}

.highlight-mid-card {
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 10px;
}

.highlight-mid-card-container-header {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.highlight-mid-card-header-logo {
  fill: red;
}

.highlight-mid-card-header-container-title {
  margin-bottom: 5px;
}

.highlight-mid-card-header-text-title {
  margin-bottom: 5px;
  font-size: 18px;
  color: white;
}

.highlight-mid-card-header-text-subTitle {
  margin-bottom: 5px;
  color: rgb(179, 178, 178);
}

.highlight-mid-card-container-percentage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.highlight-mid-card-text-percentage {
  color: white;
}

.highlight-mid-card-text-dayLeft {
  color: rgb(179, 178, 178);
}

.highlight-mid-card-bar-percentage {
  margin-bottom: 5px;
}

.highlight-mid-card-container-footer {
  display: flex;
  justify-content: space-between;
}

.highlight-mid-card-footer-iconProfile {
}

.highlight-mid-card-footer-container-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.highlight-mid-card-footer-iconDelete {
  fill: rgb(179, 178, 178);
}

.highlight-mid-card-footer-startDate {
  color: rgb(179, 178, 178);
}

/* ===== Bagian Kanan ===== */
.highlight-right {
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 10px;
}

.highlight-right-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlight-right-card-header-text-title {
  color: white;
  font-size: 24px;
}

.highlight-right-card-header-text-seeAll {
  color: rgba(255, 255, 255, 0.6);
}

.highlight-right-card-body {
  background-color: red;
  margin-bottom: 3px;
  margin-top: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 10px;
}

.highlight-right-card-body-text-title {
  color: white;
  margin-bottom: 3px;
}

.highlight-right-card-body-text-date {
  color: rgba(255, 255, 255, 0.6);
}
