/* ===== Container utama ===== */
.highlight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* background-color: red; */
}

.header-divider {
  margin-bottom: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
}

/* ===== Bagian Kiri ===== */
.highlight-left {
}

.highlight-left-wrapper {
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}

.highlight-divider {
    border: 0.5px solid rgba(255, 255, 255, 0.6);
}

.highlight-left-title {
  color: white;
  font-size: 24px;
}

.highlight-left-card {
    margin-bottom: 20px;
}

.highlight-left-card-title {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

.highlight-left-card-desc {
        color: rgb(179, 178, 178);
    font-size: 12px;
    line-height: 1.5;
}

.highlight-left-card-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.highlight-left-card-button {
  width: 100%;
  padding: 12px 16px;
  background-color: #4b0082;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
}

/* ===== Bagian Tengah ===== */
.highlight-mid {
  display: flex;
  flex-direction: column;
}

.highlight-mid-card {
}

.highlight-mid-card-container-header {
  display: flex;
  justify-content: start;
  gap: 5px;
}

.highlight-mid-card-header-logo {
}

.highlight-mid-card-header-container-title {
}

.highlight-mid-card-header-text-title {
}

.highlight-mid-card-header-text-subTitle {
}

.highlight-mid-card-container-percentage {
  display: flex;
  justify-content: space-between;
}

.highlight-mid-card-text-percentage {
}

.highlight-mid-card-text-dayLeft {
}

.highlight-mid-card-bar-percentage {
}

.highlight-mid-card-container-footer {
  display: flex;
  justify-content: space-between;
}

.highlight-mid-card-footer-iconProfile {
}

.highlight-mid-card-footer-container-right {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.highlight-mid-card-footer-iconDelete {
}

.highlight-mid-card-footer-startDate {
}

/* ===== Bagian Kanan ===== */
.highlight-right {
  display: flex;
  flex-direction: column;
}

.highlight-right-card-header {
  display: flex;
  justify-content: space-between;
}

.highlight-right-card-header-text-title {
}

.highlight-right-card-header-text-seeAll {
}

.highlight-right-card-body {
}

.highlight-right-card-body-text-title {
}

.highlight-right-card-body-text-date {
}
