.news {
}

.news-title {
}

.news-desc {
}

.news-image {
}

.news-footer {
    display: flex;
    justify-content: space-between;
}

.news-footer-page {
}

.news-footer-button-container {
    display: flex;
    gap: 5px;
}

.news-footer-button-skip {
}

.news-footer-button-continue {
}
