.news {
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  box-sizing: border-box;
  height: 100%;
}

.news-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.news-desc {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.news-image {
  border-radius: 10px;
  height: 80px;
}

.news-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.news-footer-page {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.news-footer-button-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.news-footer-button {
  padding: 10px 16px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.button-gray {
  color: rgba(255, 255, 255, 0.6);
  background-color: #484950;
}
