/* ===== Container Utama ===== */
.project {
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 15px;
  margin-top: 2px;
  background-color: #1e1f25;

  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

/* ===== Header ===== */
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.project-header-left-icon {
  fill: white;
}

.project-header-text-title {
  color: white;
  font-size: 24px;
}

.project-header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.project-header-right-icon {
  fill: white;
}

.project-header-right-button {
  padding: 10px 14px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.button-purple {
  background-color: #504773;
  color: #faefd4;
}

.button-blue {
  background-color: rgb(114, 114, 213);
  color: #faefd4;
}

.button-green {
  background-color: green;
  color: #faefd4;
}

.button-orange {
  background-color: #fc8625;
  color: #faefd4;
}

/* ===== Table ===== */
.project-table {
  width: 100%;
  border-collapse: collapse; /* gabungkan border antar sel */
  border-spacing: 0;
  border: none;
}

.project-thead {
}

.project-thead-tr {
}

.project-th {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  height: 70px;
  font-size: 18px;
}

.project-tbody {
}

.project-tbody-tr {
}

.project-td {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  height: 50px;
}

.project-tbody tr:nth-child(even) {
  background-color: #1e1f25;
}

.project-tbody tr:nth-child(odd) {
  background-color: #000000;
}

.project-table-status-button {
  padding: 10px 14px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.text-white {
  color: white;
}
.text-gray {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.7;
}

th,
td {
  border: none; /* hilangkan border di setiap sel */
}
