@import "./components/header.css";
@import "./components/highlight.css";
@import "./components/channel.css";
@import "./components/project.css";
@import "./components/news.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #2e003e);
}

.container-wrapper {
  padding: 15px;
}

.container-grid-2-column {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 7px;
}
